spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/cea
    username: cea
    password: cea

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
